* {
  padding: 0;
  margin: 0;
  font-size: 23px;
}

body {
  height: 100vh;
  width: 100vw;
  background: black;
  color: white;
  display: grid;
  place-items: center;
}

.star-rating i {
  font-size: 2rem;
  padding-left: 1px;
  color: white;
}

.active {
  color: yellow;
}
.inactive {
  color: white;
}
